@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: dimgray;
    margin: 0px;
}

header {
    background-color: white;
    padding: 10px;
    margin: 10px;
}
nav {
    background-color: rgba(102, 102, 102);
    padding: 3px;
    box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.315);
}
nav > a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin-right: 30px;
     }
nav >a:hover {
    color: #AFB3F7;
}
main {
    background-color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 10px 0px;
    box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.315);
}
footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 4px;
    margin: 0px;
}
footer > p {
    margin: 0px;
}
article {
    background-color: lightgray;
    padding: 5px;
}

article > aside {
    background-color: gray;
}

div#bola {
    height: 100px;
    width: 100px;
    margin: 10px;
    background-color: white;
    border-radius: 50%;
}