@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}
body {
    background-image: linear-gradient(to right, #E4DBB3, #EAC4BC);
}
p {
    text-align: justify;
}

main
{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #7a3c3d91;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #7A3C3D;
    text-align: center;
    text-shadow: 1px 1px 2px rgb(99, 47, 47)3D;
}

h2 {
    color: #bb9e1f;
}